<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/">
          <h1 class="site-title">Eralp Karaduman</h1>
          <h2 class="site-subtitle">Full Stack Mobile Software Developer</h2>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="https://linkedin.com/in/eralpkaraduman"><span class="fa fa-linkedin-square fa-lg"></span> LinkedIn</a>
      </li>
      <li class="navbar-right">
        <a href="https://github.com/eralpkaraduman"><span class="fa fa-github fa-lg"></span> GitHub</a>
      </li>
      <li>
        <a href="https://twitter.com/eralpkaraduman"><span class="fa fa-twitter fa-lg"></span> Twitter</a>
      </li>
    </ul>
  </div>
</nav>
